{% extends "base.html" %}

{% block page_content %}
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center main-bg-light">
        <div class="col-md-6 p-lg-6 mx-auto my-6">
          <h1 class="display-4 font-weight-bold">Dmitry Chushóv</h1>
          <p class="lead font-weight-light header-block-text">
            I have been engaged in Internet projects, design, web development and promotion for 15 years.
          </p>
          <p class="lead font-weight-light header-block-text">
            If you need the design of websites, mobile applications, catalogs, advertising or logos, I will help you.
          </p>
          <p class="lead font-weight-light header-block-text">
            I am engaged in setting up advertising campaigns in contextual networks and will prepare
            your project for SEO promotion on the Internet.
          </p>
          <a class="btn btn-sandybrown" href="{% url 'project_index' %}">Get in Touch</a>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width:100%;">
          <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width:100%;">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width:100%;">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden" style="width:100%;">
          <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width:100%;">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width:100%;">
          <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width:100%;">
          <div class="my-3 p-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden" style="width:100%;">
          <div class="my-3 py-3">
            <h2 class="display-5">Another headline</h2>
            <p class="lead">And an even wittier subheading.</p>
          </div>
          <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </div>
      </div>


      <footer class="container py-5">
          <div class="contact">
          <p>Пишите письма</p>
          <div class="email">
            <a href="mailto:work@chushov.com">work@chushov.com</a>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2004 — 2021</small>
          </div>
          <div class="col-6 col-md">
            <h5 class="highlight-color">Social</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">LinkedIn</a></li>
              <li><a class="text-muted" href="https://www.instagram.com/dmitrychushov/">Instagram</a></li>
              <li><a class="text-muted" href="https://www.facebook.com/dmitry.chushov">Facebook</a></li>
              <li><a class="text-muted" href="https://www.goodreads.com/dmitrychushov">Goodreads</a></li>
              <li><a class="text-muted" href="https://www.behance.net/chushov">Behance</a></li>
              <li><a class="text-muted" href="https://soundcloud.com/chushov">Soundcloud</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="highlight-color">Tools</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Password Generator</a></li>
              <li><a class="text-muted" href="#">Roulette</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="highlight-color">Playlists</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Spotify</a></li>
              <li><a class="text-muted" href="#">Yandex.Music</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5 class="highlight-color">Get in touch</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="mailto:work@chushov.com">Email</a></li>
              <li><a class="text-muted" href="tg:@DmitryChushov">Telegram</a></li>
              <li><a class="text-muted" href="skype:dmitrychushov">Skype</a></li>
            </ul>
          </div>
        </div>
      </footer>
{% endblock %}
